# Ignore the virtual environment directory
.venv/
venv/

# Ignore other common files and directories
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/
node_modules/
